#header, #google {
	float: right;
	margin-top: 22px;
	font-size: 13px;
	font-family: Arial;
	padding: 0 32px 16px 16px;
	color: #666;
}

li a {
	list-style-type: none;
	text-decoration: none;
	display: inline-block;
	padding-right: 20px;
	color: #4d4d4d;
}

li {
	display: inline-block;
	float: left;
	padding-right: 12px;
}

a:hover {
	text-decoration: underline;
}


#apps {
	opacity: .55;
}

#apps:hover {
	opacity: 1;
}

#signin {
	padding: 7px 10px 7px 10px;
	border: solid #4285f4 1px;
	border-radius: 7%;
	margin-top:-5px;
	background: #4285f4;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#signin:hover {
	box-shadow: 0px 0px 1px #888888;
}

#displayed {
	display: inline-block;
	margin-left: 150px;
	margin-right: 206px;
	clear: both;
	width: 272px;
	height: 92px;
	padding-top: 176px;
}

input {
	margin-top: 12px;
	margin-left: 355px;
	height: 35px;
	background-image: url("microphone.png");
	background-repeat: no-repeat;
	background-position: 552px;
	background-size: 23px;
	border:1px solid #d9d9d9;
	font-size: 13px;
	font-family: Arial;
	display: block;
}

input:focus {
	outline: 1px solid #3399ff;
	box-shadow: none;
}


input:hover {
	border: 1px solid #b3b3b3;
}

#search {
	background: #f2f2f2;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #737373;
	border-radius: 5%;
	border: 1px #f2f2f2;
	width: 130px;
	margin-left: 500px;
	float: left;
}

#search:hover {
	color: #000000;
	border: 1px solid #b3b3b3;
	box-shadow: 1px solid;
}


#lucky {
	width: 135px;
	float: right;
	margin-right: 100px;
	margin-left: 15px;
	background: #f2f2f2;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #737373;
	border-radius: 5%;
	border: 1px #f2f2f2;
}

#lucky:hover {
	color: #000000;
	border: 1px solid #b3b3b3;
	box-shadow: 1px solid;
}


#div {
	display: flex;
	margin-top: 25px;

}

#footer {
	margin-top: 181px;
	height: 41px;
	background-color: #f2f2f2;
	font-size: 13px;
	font-family: Arial;
	border-top: 1px solid #e4e4e4;
}

#ftext {
	height: 12px;
	margin-top: 13px;
}

#ad {
	margin-left: 30px;
}

#business {
	margin-left: 10px;
}

#about {
	margin-left: 10px;
}

#privacy {
	margin-left: 800px;
}

#terms {
	margin-left: 10px;
}

#settings {
	margin-left: 10px;
}

