.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	width: 272px;
	height: 92px;
	padding-top: 152px;
}

.header {

}

ul li a {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #595959;
	text-align: center;

}

.name {
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #8C8C8C;
	text-align: center;
	margin: 0;
	display: inline-block;
	padding-top: 27px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: text-top;
}

ul li a:hover {
	text-decoration: underline;
}

ul li {
	display: inline-block;
	padding-top: 25px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: text-top;
	vertical-align: center;

}

ul {
	float: right;
}

.apps {
	height: 15px;
	width: 15px;
	vertical-align: center;
	opacity: .55;
}

.apps:hover {
	opacity: 1;
}

.bells {
	height: 17px;
	width: 14.45px;
	vertical-align: center;
}

.account {
	background-image: url("google_dillon.png");
	background-position: center center;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	padding-right: 25px;


}




